## Creating DataSet

### Reading Input Data

In [28]:
import pandas as pd
from google.colab import files
uploaded = files.upload()

Saving kaggle_survey_2021_responses.csv to kaggle_survey_2021_responses (1).csv

In [29]:
Salaries = pd.read_csv("kaggle_survey_2021_responses.csv", low_memory = False)
Salaries.head()

  Time from Start to Finish (seconds)  ...                                        Q38_B_OTHER
0               Duration (in seconds)  ...  In the next 2 years, do you hope to become mor...
1                                 910  ...                                                NaN
2                                 784  ...                                                NaN
3                                 924  ...                                                NaN
4                                 575  ...                                                NaN

[5 rows x 369 columns]

In [30]:
Salaries.shape

(25974, 369)

In [31]:
# counting the number of null values in the target column
Salaries['Q25'].isna().sum()

10582

In [32]:
Salaries.Q25.unique()

array(['What is your current yearly compensation (approximate $USD)?',
       '25,000-29,999', '60,000-69,999', '$0-999', '30,000-39,999', nan,
       '15,000-19,999', '70,000-79,999', '2,000-2,999', '10,000-14,999',
       '5,000-7,499', '20,000-24,999', '1,000-1,999', '100,000-124,999',
       '7,500-9,999', '4,000-4,999', '40,000-49,999', '50,000-59,999',
       '3,000-3,999', '300,000-499,999', '200,000-249,999',
       '125,000-149,999', '250,000-299,999', '80,000-89,999',
       '90,000-99,999', '150,000-199,999', '>$1,000,000',
       '$500,000-999,999'], dtype=object)

### Dropping rows with the missing target variable (Q25)

In [33]:
Salaries.dropna(subset=['Q25'],inplace=True)

In [34]:
Salaries.shape

(15392, 369)

In [35]:
Salaries.Q25.unique()

array(['What is your current yearly compensation (approximate $USD)?',
       '25,000-29,999', '60,000-69,999', '$0-999', '30,000-39,999',
       '15,000-19,999', '70,000-79,999', '2,000-2,999', '10,000-14,999',
       '5,000-7,499', '20,000-24,999', '1,000-1,999', '100,000-124,999',
       '7,500-9,999', '4,000-4,999', '40,000-49,999', '50,000-59,999',
       '3,000-3,999', '300,000-499,999', '200,000-249,999',
       '125,000-149,999', '250,000-299,999', '80,000-89,999',
       '90,000-99,999', '150,000-199,999', '>$1,000,000',
       '$500,000-999,999'], dtype=object)

### Combining the salary buckets and label encoding them

In [38]:
salary_buckets = {   '$0-999': '0-9,999',
    '1,000-1,999': '0-9,999',
    '2,000-2,999': '0-9,999', 
    '3,000-3,999': '0-9,999',
    '4,000-4,999': '0-9,999',
    '5,000-7,499': '0-9,999', 
    '7,500-9,999': '0-9,999',
    '10,000-14,999': '10,000-19,999',
    '15,000-19,999': '10,000-19,999', 
    '20,000-24,999': '20,000-29,999',
    '25,000-29,999': '20,000-29,999',
    '30,000-39,999': '30,000-39,999', 
    '40,000-49,999': '40,000-49,999', 
    '50,000-59,999': '50,000-59,999',
    '60,000-69,999': '60,000-69,999',
    '70,000-79,999': '70,000-79,999', 
    '80,000-89,999': '80,000-89,999', 
    '90,000-99,999': '90,000-99,999',
    '100,000-124,999':'100,000-124,999',
    '125,000-149,999':'125,000-149,999',
    '150,000-199,999':'150,000-199,999',
    '200,000-249,999':'200,000-299,999',
    '250,000-299,999':'200,000-299,999', 
    '300,000-499,999':'>300,000',
    '$500,000-999,999':'>300,000',
    '>$1,000,000':'>300,000'}

In [39]:
salary_encode = {   '$0-999': 0,
    '1,000-1,999': 0,
    '2,000-2,999': 0, 
    '3,000-3,999': 0,
    '4,000-4,999': 0,
    '5,000-7,499': 0, 
    '7,500-9,999': 0,
    '10,000-14,999': 1,
    '15,000-19,999': 1, 
    '20,000-24,999': 2,
    '25,000-29,999': 2,
    '30,000-39,999': 3, 
    '40,000-49,999': 4, 
    '50,000-59,999': 5,
    '60,000-69,999': 6,
    '70,000-79,999': 7, 
    '80,000-89,999': 8, 
    '90,000-99,999': 9,
    '100,000-124,999':10,
    '125,000-149,999':11,
    '150,000-199,999':12,
    '200,000-249,999':13,
    '250,000-299,999':13,
    '300,000-499,999':14,
    '$500,000-999,999':14,
    '>$1,000,000':14}

In [40]:
#Label Encoding the target variable
Salaries.loc[1:,'Q25_Encoded'] = Salaries.loc[1:,'Q25'].map(salary_encode)
Salaries.loc[1:,'Q25_Encoded']=Salaries.loc[1:,'Q25_Encoded'].astype(int)
Salaries.Q25_Encoded.unique()

array([nan,  2.,  6.,  0.,  3.,  1.,  7., 10.,  4.,  5., 14., 13., 11.,
        8.,  9., 12.])

In [41]:
Salaries[Salaries['Q25_Encoded'].isna()]

  Time from Start to Finish (seconds)  ... Q25_Encoded
0               Duration (in seconds)  ...         NaN

[1 rows x 370 columns]

In [42]:
#Combining the salary buckets
Salaries.loc[1:,'Q25_buckets'] = Salaries.loc[1:,'Q25'].map(salary_buckets)
Salaries.Q25_buckets.unique()

array([nan, '20,000-29,999', '60,000-69,999', '0-9,999', '30,000-39,999',
       '10,000-19,999', '70,000-79,999', '100,000-124,999',
       '40,000-49,999', '50,000-59,999', '>300,000', '200,000-299,999',
       '125,000-149,999', '80,000-89,999', '90,000-99,999',
       '150,000-199,999'], dtype=object)

In [43]:
Salaries.shape

(15392, 371)

In [44]:
Salaries['Q25_Encoded'].value_counts(normalize=True)

0.0     0.454811
1.0     0.098954
2.0     0.068676
3.0     0.048145
10.0    0.047105
5.0     0.045286
4.0     0.044701
6.0     0.035800
7.0     0.030147
12.0    0.025469
8.0     0.025404
11.0    0.024625
9.0     0.022741
13.0    0.016373
14.0    0.011760
Name: Q25_Encoded, dtype: float64

In [45]:
Salaries.to_csv("clean_kaggle_data_2021.csv", index=False)

In [46]:
files.download('clean_kaggle_data_2021.csv')